server.dat
marxan-server.log
runlog.dat
users/admin/user.dat
users/admin/*
*.pyc
.~*
dump.sql
.env.local
    

/*.backup/
/*.sql/
.venv
/data/activities/*
/data/climate/*
/data/EUSeaMap_*/*
/data/LocalDS_Boundaries/*
/data/mapbox
/data/pressures/*
/data/rasters/*
/data/shapefiles/*
/data/test
/data/tmp/*
/data/uploaded_rasters/*
/data/dunmore*
/data/tralee*



_marxan_web_resources/

*.dump
*.sql
__pycache__
__pycache__/*
/__pycache__/

MarOpt_v243_Linux32
MarOpt_v243_Linux64
MarOpt_v243_Mac32
MarOpt_v243_Mac64
Marxan.exe
Marxan_x64.exe
imports
imports/*

*copy.py